# PostgreSQL
POSTGRES_HOST=campusenroll-postgres
POSTGRES_PORT=5432
POSTGRES_DB=campusenroll
POSTGRES_USER=campus
POSTGRES_PASSWORD=campus123

# Redis
REDIS_HOST=campusenroll-redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_HOST=campusenroll-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=campus
RABBITMQ_PASSWORD=campus123

# Services
BILLING_SERVICE_PORT=8083
NOTIFICATION_SERVICE_PORT=8084