POSTGRES_DB=campusenroll
POSTGRES_USER=campus
POSTGRES_PASSWORD=campus123
POSTGRES_HOST=campusenroll-postgres
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://campusenroll-postgres:5432/campusenroll
SPRING_DATASOURCE_USERNAME=campus
SPRING_DATASOURCE_PASSWORD=campus123

SPRING_RABBITMQ_HOST=campusenroll-rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=campus
SPRING_RABBITMQ_PASSWORD=campus123

SPRING_REDIS_HOST=campusenroll-redis
SPRING_REDIS_PORT=6379