global
    log stdout format raw local0
    maxconn 1024

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres_write
    bind *:5000
    default_backend patroni_primary

backend patroni_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server patroni-jared 192.168.0.12:5432 check port 8008
    server patroni-mefi 192.168.0.10:5432 check port 8008
    server patroni-brayan 192.168.0.11:5432 check port 8008

listen stats
    bind *:7000
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
